.backgroundColor{
    background: linear-gradient(217deg, rgba(153, 0, 255, 0.93), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(189, 155, 231, 0.98), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(124, 42, 224, 0.8), rgba(0,0,255,0) 70.71%);;
}
.card-h{
    /*width: 18rem;*/
    height: 80%;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.card-shadow {
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container-fluid{
    width:93.5%;
}

.margin-b{
    margin: 1vh;
}

.icon-size{
    font-size: 96px;
}