.backgroundColor {
    /*background-color: #5f0a87;*/
    background-color: #6c33a3;
    background-image: linear-gradient(316deg, #6c33a3 0%, #8241b8 74%);

}

.backgroundPage{
    background-color: #6c33a3;
    background-image: linear-gradient(115deg, #6c33a3 0%, #ececec 20%);
}

.card-h {
    height: 80%;
}

.card-w{
    width: 25%;
}

.image{
    height:30vh;
    width:20vw;
    border-radius: 7%;
}

.box2 {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.rCorners2 {
    border-radius: 25px;
    border: 2px solid #6c33a3;
    padding: 5px;
}


.titleText{
    color:#5f0a87;
    font-weight: bold;
}

.card-title {
    text-align: center;
    font-weight: bold;
    color:whitesmoke;
}

.card-text {
    text-align: center;
    color: whitesmoke;
}

.card-t-purp{
    color:#5f0a87;
}

.card-shadow {
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.margin-b {
    margin: 1vh;
}

.icon-size {
    font-size: 128px;
    color: #5f0a87;
}


.button-36 {
    background-color: #cba6f1;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 14rem;

}

.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}
